apiVersion: v1
kind: Pod
metadata:
  name: chugger
spec:
  containers:
  - name: chugger
    image: polinux/stress:latest
    command: [ "stress" ]
    args: [ "--vm", "1", "--vm-bytes", "{{MEMORY}}", "--vm-hang", "1" ]
